<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projekt #2</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/style.css?<%=Time.now.to_i%>"
    />
  </head>
  <body>

    <div id="Create">
      <h1>RAT</h1>
      <p>Skapa din TODO!
        <form action="/create" method="post">
          <label>Titel <input type="text" name="title"></label><br>
          <label>Färg <input type="text" name="color"></label><br>
          <label>Beskrivning <input type="text" name="description"></label><br>
          <label>Prioritet <input type="text" name="priority"></label><br>
          <input type="submit" value="Spara">
        </form>
      </p>
    </div>
    <% @todos.each do |todo|  %>
    <div>
      <h1><%= todo ['title'] %>  </h1>
      <p>color: <%= todo ['color'] %>  </p>
      <p>Desc: <%= todo ['description'] %>  </p>
      <p>priority: <%= todo ['priority'] %>  </p>
    </div>
    <% end %>
  </body>
</html>
